{% extends "layout.html" %}
{% block heading %} Classes {% endblock %}
{% block content %}
    <div class="container">

        {% for row in classes %}
            <div class="mb-5 bg-light">

            <div class="row gx-5 p-3 align-items-center">
            <div class="col body-text">
                      <h3 class="display-5">{{ row['class_name'] }} </h3>
            <h4 class="fw-lighter fs-3">{{ row['elevator_pitch'] }} </h4>
                {{ row['content'] | replace("\n", "<br>") | safe}}

            </div>
             <div class="col {{ loop.cycle('order-xl-first', '') }}"> <img class="img-fluid" src="static/images/n_1.png"></div>
              </div>
            <div class="row text-center display-6">
             <div class="col p-3 text-warning">Starts: {{ row['start_date'] }}</div>
             <div class="col p-3 text-warning">Every {{ row['frequency'] }} days</div>
            <div class="col p-3 text-warning">Duration: {{ row['duration'] }} weeks</div>
            </div>
            <div class="text-end">
                <a class="btn btn-info m-4" href="{{ url_for('registration', id=row['class_id'], title=row['class_name']) }}">
                    View Registrations
                </a></div>

              <div></div>
            </div>


        {% endfor %}


    </div>
{% endblock %}