{% extends "layout.html" %}
{%  block banner %}src="{{ url_for('static',filename='images/banner_netball_1_slice.jpg') }}{% endblock %}

{% block heading %} Accordion Test Page (Draw) {% endblock %}
{% block content %}
    <style>
    .table{
        width:50%;
    }
    @media only screen and (max-width: 992px) {
  .table{
      width:100%;
  }

}
    </style>

<div class="container-lg bg-light my-3 py-3">

<!-- begin accordion using row loop -->
<div class="accordion" id="accordionPanelsStayOpen__1">
<!-- declare a variable to hold the value that is the accordion item title -->
{% set ns=namespace(drawdate = "") %}
    {% for row in games %}

        {% if row['Date'] != ns.drawdate %}
            <!-- if the title variable is new this means a new accordion item is happening -->
            <!-- set it to be the current title -->
            {% set ns.drawdate=row['Date'] %}
                {% if loop.index0 != 0 %}
                     <!-- if this not the first iteration of the loop, I need to close the previous accordion item -->
                            </table>
                            </div>
                            </div>
                            </div>
                {% endif %}
                <!-- create all the header material for the new accordion item -->
                <div class="accordion-item ">
                <h2 class="accordion-header" id="panel-{{ loop.index0 }}">
                <button class="accordion-button collapsed ps-5" type="button" data-bs-toggle="collapse" data-bs-target="#Open-{{ loop.index0 }}">
                <h2 class="text-center w-100">{{ns.drawdate}}</h2>
                </button>
                </h2>
                <div id="Open-{{ loop.index0 }}" class="accordion-collapse collapse" >
                <div class="accordion-body">
                <table class="table  mx-auto text-center">
                <thead>
                <tr><th>Time</th><th>Team 1</th><th>Team 2</th><th> Action</th><th> Action</th></tr>
                </thead>
        {% endif %}
            <!-- write table data -->
            <tr><td>{{ row['Time'] }}</td><td> {{ row['team_1'] }}</td><td>{{ row['team_2'] }}</td>
            <td> <a class="btn btn-info" href="{{ url_for('addgame' , id=row['game_id'] ) }}" role="button">Edit</a>
            </td><td>
                <form action="{{ url_for('addgame', id=row['game_id'], task='delete' ) }}" method="POST">
                 <button type="submit" class="btn btn-info">Delete</button>
                </form>
            </td>
            </tr>
    {% endfor %}
 <!-- loop is all done close off last accordion item -->
        </table>
        </div>
        </div>
        </div>
  <!-- end of whole accordion -->
 </div>
<!-- end container div -->
    </div>
{% endblock %}